.pause-btn {
  width: 2rem;
  height: 2rem;
  padding: 0.375rem;
  border-radius: 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  cursor: pointer;
}

.pause-btn:hover {
  background-color: hsla(215, 49%, 59%, 0.15);
}
