$ui-primary: var(--ui-primary, hsla(215, 100%, 95%, 1)); /* #E5F0FF */
$ui-secondary: var(--ui-secondary, hsla(215, 75%, 95%, 1)); /* #E9F1FC */
$ui-tertiary: var(--ui-tertiary, hsla(215, 50%, 90%, 1)); /* #D9E3F2 */

$ui-modal-overlay: var(--ui-modal-overlay, hsla(215, 49%, 59%, 0.9)); /* 90% transparent version of motion-primary */

$ui-white: hsla(0, 100%, 100%, 1); /* #FFFFFF */
$ui-white-dim: hsla(0, 100%, 100%, 0.75); /* 25% transparent version of ui-white */
$ui-white-transparent: hsla(0, 100%, 100%, 0.25); /* 25% transparent version of ui-white */
$ui-transparent: hsla(0, 100%, 100%, 0); /* 25% transparent version of ui-white */

$ui-black-transparent: hsla(0, 0%, 0%, 0.15); /* 15% transparent version of black */

$text-primary: var(--text-primary, hsla(225, 15%, 40%, 1)); /* #575E75 */
$text-primary-transparent: hsla(225, 15%, 40%, 0.75);

$motion-primary: var(--motion-primary, hsla(215, 100%, 65%, 1));
$motion-tertiary: var(--motion-tertiary, hsla(215, 60%, 50%, 1));
$motion-transparent: var(--motion-transparent, hsla(215, 100%, 65%, 0.35)); /* 35% transparent version of motion-primary */
$motion-light-transparent: var(--motion-light-transparent, hsla(215, 100%, 65%, 0.15)); /* 15% transparent version of motion-primary */

/* opt-in theme overrides */
$motion-primary-dark: #333;
$ui-primary-light: var(--ui-primary-light, hsla(215, 100%, 95%, 1));
$ui-secondary-light: var(--ui-secondary-light, hsla(215, 75%, 95%, 1));
$ui-tertiary-light: var(--ui-tertiary-light, hsla(215, 50%, 90%, 1));
$text-primary-light: hsla(225, 15%, 40%, 1);

$red-primary: hsla(20, 100%, 55%, 1); /* #FF661A */
$red-tertiary: hsla(20, 100%, 45%, 1); /* #E64D00 */

$sound-primary: hsla(300, 53%, 60%, 1); /* #CF63CF */
$sound-tertiary: hsla(300, 48%, 50%, 1); /* #BD42BD */

$control-primary: hsla(38, 100%, 55%, 1); /* #FFAB19 */

$data-primary: hsla(30, 100%, 55%, 1); /* #FF8C1A */

$pen-primary: hsla(163, 85%, 40%, 1); /* #0FBD8C */
$pen-transparent: hsla(163, 85%, 40%, 0.25); /* #0FBD8C */

$error-primary: hsla(30, 100%, 55%, 1); /* #FF8C1A */
$error-light: hsla(30, 100%, 70%, 1); /* #FFB366 */
$error-transparent: hsla(30, 100%, 55%, 0.25); /* #FF8C1A */

$extensions-primary: var(--extensions-primary, hsla(262, 81%, 75%, 1));
$extensions-tertiary: var(--extensions-tertiary, hsla(262, 81%, 50%, 1));
$extensions-transparent: var(--extensions-transparent, hsla(262, 81%, 75%, 0.35)); /* 35% transparent version of extensions-primary */
$extensions-light: var(--extensions-light, hsla(262, 57%, 85%, 1)); /* opaque version of extensions-transparent, on white bg */

$drop-highlight: hsla(215, 100%, 77%, 1); /* lighter than motion-primary */
