
  [class^="backpack_backpack-list"] {
    /* set height of the item picker, the vanilla height of the backpack is 5.5rem so multiply it by the rows setting */
    height: 10rem;
    margin-left: 0.2rem;
  }
  
  [class*="backpack_backpack-list-inner"] {
    /* move items to the top-left of the container instead of vertically centering them */
    align-items: flex-start;
    /* force horizontal wrapping and enable vertical scrolling */
    flex-wrap: wrap;
    height: auto;
    max-height: 100%;
  }
  
  [class*="backpack_backpack-item"] {
    /* add vertical margin to make stacked buttons look nicer */
    margin: 0.25rem;
  }
  
  /* non-backpacked sprite, costume and sound thumbnails use the same .sprite-selector classes so check parents to see if its part of the backpack */
  [class^="backpack_backpack-list-inner"]
    > .react-contextmenu-wrapper
    > [class^="sprite-selector-item_sprite-image-outer"]
    > [class^="sprite-selector-item_sprite-image-inner"] {
    /* fill area around thumbnail to make the image background blend in when using dark mode/custom theme */
    background: var(--ui-secondary, hsla(215, 100%, 95%, 1));
  }

  [class^="backpack_backpack-list-inner"] > [class^="sprite-selector-item_sprite-image_"] {
    max-width: 3rem;
  }
