@import "../../css/units.css";
@import "../../css/colors.css";

.input-browse-files-button {
    height: 2rem;
    padding: 0.35rem 0.55rem;
    border-radius: 4px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.625rem;
    font-weight: bold;

    color: white;
    background: $motion-primary;

    border: none;
}

.selected-file-label {
    color: $text-primary;
    font-size: smaller;
    margin-left: 2rem;
    margin-right: 0.5rem;
}

.selected-file-name {
    color: $text-primary;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}